@shake: red;
@vehicle-background: #016CBA;
@vehicle-border: #464A4C;
@part-background: #F2B600;
@part-border: #766936;

@keyframes shake {
	0% { transform: scale(1); }
	50% { transform: scale(0.9); }
	100% { transform: scale(1); }
}

.app {
	width: 80%;
	margin: 10px auto;

	.menu {
		input {
			display: inline;
			width: 30%;
			margin: 0px 10px 20px 0px;
		}
	}

	.vehicles-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;

	  .vehicle {
			position: relative;
			background-color: @vehicle-background;
			border: 1px solid @vehicle-border;
			border-radius: 10px;
			width: 200px;
			margin: 20px;
			text-align: center;
			padding: 10px;
			padding-top: 25px;

	    &.shake {
	      background-color: lighten(@shake, 25%);
	      animation-name: shake;
	      animation-duration: 200ms;
	      transform-origin:50% 50%;
	      animation-iteration-count: 2;
	      animation-timing-function: linear;
	    }

			.remove-vehicle {
				position: absolute;
				right: 5px;
				top: 5px;
			}

			.part {
				background-color: @part-background;
				border: 1px solid @part-border;
				border-radius: 10px;
				padding: 10px;
				margin-top: -10px;
				&:nth-child(2) {
					margin-top: 25px;
				}
			}

	  }
	}

}
